name: Analysis

on:
  push:
    branches:
      - master
      - develop
      - 0.2.x
  pull_request_target:
    branches:
      - master
      - develop
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:
    inputs:
      pr:
        description: "Pull request#"
        required: false

jobs:
  static:
    runs-on: ubuntu-latest
    name: Static code analysis
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2
      - name: Check out head
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
        if: github.event_name == 'pull_request_target'
      - name: Check out PR
        run: |
          git fetch --no-tags --prune --progress --no-recurse-submodules --depth=1 \
            origin pull/${{ github.event.inputs.pr }}/head:the-pr && git checkout the-pr
        if: github.event.inputs.pr != ''
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Check style and spell
        uses: zhicwu/checkstyle-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: 'github-pr-check'
          # added,diff_context,file,nofilter
          filter_mode: 'added'
        if: github.event_name == 'pull_request_target' || github.event.inputs.pr != ''
        continue-on-error: true
      - name: Update sonar config
        run: |
          sed -i -e 's|^\(.*<sonar.projectKey>\).*\(</sonar.projectKey>\)$|\1ClickHouse_clickhouse-jdbc\2|' \
            -e 's|^\(.*<sonar.organization>\).*\(</sonar.organization>\)$|\1clickhouse-java\2|' pom.xml
        if: github.repository_owner == 'ClickHouse'
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          find . -type f -name "log4j.*" -exec rm -fv '{}' \;
          mvn -q --batch-mode --global-toolchains .github/toolchains.xml -Drelease \
            -Panalysis verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
        continue-on-error: true
